aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.4.0
boto==2.49.0
certifi==2022.5.18.1
chardet==4.0.0
click==8.0.3
cycler==0.11.0
Flask==2.0.3
Flask-SQLAlchemy==2.5.1
fonttools==4.25.0
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
kiwisolver==1.4.2
MarkupSafe==2.0.1
matplotlib==3.5.1
multidict==6.0.2
munkres==1.1.4
numpy==1.22.3
packaging==21.3
Pillow==9.0.1
pip==21.2.4
psycopg2-binary==2.9.3
pyparsing==3.0.4
python-dateutil==2.8.2
setuptools==61.2.0
six==1.16.0
SQLAlchemy==1.4.36
tornado==6.1
typing_extensions==4.2.0
Werkzeug==2.0.3
wheel==0.37.1
yarl==1.7.2
