<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
          initial-scale=1.0">
    <title>RuFREErn</title>

          <link href="../styles/output.css" rel="stylesheet">
</head>

<body>

<div class="flex flex-col justify-center mt-32">
<h1 class="text-6xl font-bold text-amber-500 text-center">RuFREErn</h1>

<div class="mt-24"></div>

<button id="addFriend" class="bg-amber-500 text-lg py-4 px-8 rounded-full text-center items-center text-white w-48 mx-auto hover:opacity-90 active:opacity-70 ">Add Friend</button>

<div class="my-8"></div>

<button id="viewFriend" class="bg-amber-500 text-lg py-4 px-8 rounded-full text-center items-center text-white w-48 mx-auto hover:opacity-90 active:opacity-70 ">View Friend</button>

<div class="absolute bottom-24 flex flex-row justify-center font-bold text-lg right-0 left-0 m-auto  text-black text-center">
<p>ID:&nbsp;</p>
<p id="userid">123123123</p>

</div>

<a href="#logout" class="absolute bottom-12 flex flex-row justify-center text-md right-0 left-0 m-auto w-fit text-black text-center hover:cursor-pointer hover:underline active:opacity-80">

LOGOUT

</a>

</body>

 <!-- Popup Modal -->

 <div id="addpopup" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">

    <div class="relative bg-orange-300 px-6 py-16  shadow-lg w-8/12 text-center">
        <button id="addclosePopup" class="absolute top-4 right-4 bg-white text-lg w-8 h-8 rounded-full text-gray-600 hover:opacity-90 active:opacity-70">&#10006;</button>

    <div class="bg-white p-4 rounded-3xl shadow-lg w-full text-center">

        <p id="popupMessage" class="my-6 text-amber-500 text-4xl font-bold mb-4">Add Friend</p>

        <div class="my-16"></div>


        <input type="text" class="w-1/2 p-2 border-2 border-gray-300 rounded-lg" placeholder="enter id..." id="friendID">

        <div class="my-16"></div>

        <button id="addFriendButton" class="bg-amber-500 text-lg py-2 px-4 rounded-full text-white hover:opacity-90 active:opacity-70">Add Friend</button>
        </div>

    </div>
</div>





<div id="viewpopup" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">

    <div class="relative bg-orange-300 px-3 py-16  shadow-lg w-8/12 text-center">
        <button id="viewclosePopup" class="absolute top-4 right-4 bg-white text-lg w-8 h-8 rounded-full text-gray-600 hover:opacity-90 active:opacity-70">&#10006;</button>

    <div class=" p-4  w-full text-center">

        <p id="popupMessage" class=" text-white text-4xl font-bold mb-4">Friends List</p>

        <div class="my-16"></div>



<div class="flex flex-row justify-between md:justify-center md:gap-x-8 items-center text-white border-b-2 border-white py-4  ">
    <img src="images/person.svg" alt="person">

    <div class="flex flex-col text-left mr-8 whitespace-nowrap">
        <h3 id="name">Name</h3>
        <div class="flex flex-row">
            <h4>id:&nbsp;</h4>
            <p id="userid">123123</p>
        </div>
    </div>
    <div>
        <p class="rounded-full bg-white px-4 py-2 text-green-400">Cafeteria</p>
    </div>
</div>


<div class="flex flex-row justify-between md:justify-center md:gap-x-8 items-center text-white border-b-2 border-white py-4  ">
    <img src="images/person.svg" alt="person">

    <div class="flex flex-col text-left mr-8 whitespace-nowrap">
        <h3 id="name">Name</h3>
        <div class="flex flex-row">
            <h4>id:&nbsp;</h4>
            <p id="userid">456456</p>
        </div>
    </div>
    <div>
        <p class="rounded-full bg-white px-4 py-2 text-red-400">Inactive</p>
    </div>
</div>


        <div class="my-16"></div>

        </div>

    </div>
</div>







<script>
    // JavaScript for handling popup
    const addFriendButton = document.getElementById('addFriend');
    const viewFriendButton = document.getElementById('viewFriend');
    const addpopup = document.getElementById('addpopup');
    const viewpopup = document.getElementById('viewpopup');
    const addclosePopupButton = document.getElementById('addclosePopup');
    const viewclosePopupButton = document.getElementById('viewclosePopup');


    addFriendButton.addEventListener('click', () => {
        addpopup.classList.remove('hidden');
    });

    viewFriendButton.addEventListener('click', () => {
        viewpopup.classList.remove('hidden');
    });

    addclosePopupButton.addEventListener('click', () => {
        addpopup.classList.add('hidden');
    });

    viewclosePopupButton.addEventListener('click', () => {
        viewpopup.classList.add('hidden');
    });
</script>



</html>