<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
          initial-scale=1.0">
    <title>RuFREErn</title>

          <link href="{{ url_for('static',filename='styles/output.css') }}" rel="stylesheet">
</head>

<body>

<div class="flex flex-col justify-center mt-32">
<h1 class="text-6xl font-bold text-amber-500 text-center">RuFREErn</h1>


<div class="my-4"></div>

<h2 class="text-black text-center text-3xl font-bold">Sign Up {{message}}</h2>

<form action="/" method="post">

<div class="justify-center flex flex-col w-1/2 mx-auto" >
<div class="my-4"></div>
<input type="email" class="w-full justify-center p-2 border-2 border-gray-300 rounded-lg" placeholder="Email" id="email" name="email">


<div class="my-4"></div>
<input type="text" class="w-full justify-center p-2 border-2 border-gray-300 rounded-lg" placeholder="Name" id="name" name="name">



<div class="my-4"></div>

<div class="my-6"></div>
<input type="submit" class="btn btn-primary mb-3 w-50" value="Submit" name="submit"></input>
</div>
</form>



<div class="absolute bottom-24 flex flex-col justify-center  text-lg right-0 left-0 m-auto  text-black text-center">
<p>Already have an account?</p>

<a class="hover:underline active:opacity-80" href="{{ url_for('main') }}">Login</a>

</div>



</body>

 <!-- Popup Modal -->

 <div id="addpopup" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">

    <div class="relative bg-orange-300 px-6 py-16  shadow-lg w-8/12 text-center">
        <button id="addclosePopup" class="absolute top-4 right-4 bg-white text-lg w-8 h-8 rounded-full text-gray-600 hover:opacity-90 active:opacity-70">&#10006;</button>

    <div class="bg-white p-4 rounded-3xl shadow-lg w-full text-center">

        <p id="popupMessage" class="my-6 text-amber-500 text-4xl font-bold mb-4">Add Friend</p>

        <div class="my-16"></div>


        <input type="text" class="w-1/2 p-2 border-2 border-gray-300 rounded-lg" placeholder="enter id..." id="friendID">

        <div class="my-16"></div>

        <button id="addFriendButton" class="bg-amber-500 text-lg py-2 px-4 rounded-full text-white hover:opacity-90 active:opacity-70">Add Friend</button>
        </div>

    </div>
</div>





<div id="viewpopup" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">

    <div class="relative bg-orange-300 px-6 py-16  shadow-lg w-8/12 text-center">
        <button id="viewclosePopup" class="absolute top-4 right-4 bg-white text-lg w-8 h-8 rounded-full text-gray-600 hover:opacity-90 active:opacity-70">&#10006;</button>

    <div class=" p-4  w-full text-center">

        <p id="popupMessage" class=" text-white text-4xl font-bold mb-4">Friends List</p>

        <div class="my-16"></div>


        <input type="text" class="w-1/2 p-2 border-2 border-gray-300 rounded-lg" placeholder="enter id..." id="friendID">

        <div class="my-16"></div>

        </div>

    </div>
</div>







<script>
    // JavaScript for handling popup
    const addFriendButton = document.getElementById('addFriend');
    const viewFriendButton = document.getElementById('viewFriend');
    const addpopup = document.getElementById('addpopup');
    const viewpopup = document.getElementById('viewpopup');
    const addclosePopupButton = document.getElementById('addclosePopup');
    const viewclosePopupButton = document.getElementById('viewclosePopup');


    addFriendButton.addEventListener('click', () => {
        addpopup.classList.remove('hidden');
    });

    viewFriendButton.addEventListener('click', () => {
        viewpopup.classList.remove('hidden');
    });

    addclosePopupButton.addEventListener('click', () => {
        addpopup.classList.add('hidden');
    });

    viewclosePopupButton.addEventListener('click', () => {
        viewpopup.classList.add('hidden');
    });
</script>



</html>